/* in spiddbrand/less/stylenew.css */
#splash {
  margin-top: -30px;
  background: url('/sitestatic/brands/rapidpro/splash.jpg') 0px 0px !important;
  background-size: cover !important;
  width: 100%;
  height: 0px;
  padding-bottom: 40%;

  h1.description {
    color: #f3f3f3;
    position:absolute;
    font-weight: 100;
    width: 350px;
    font-size: 38px;
    line-height: 110%;
    padding-left:50px;
    padding-top:50px;
    text-shadow: 1px 1px 8px #111;
  }
}

h5.contact-signup {
  position: absolute;
  width:100%;
  color: #f3f3f3;
  text-shadow: 1px 1px #000;
  text-align:right;
  margin-top:-40px;
  a {
    color: #eee;
  }
}

a.logo {
  margin-left: -45px;
  margin-top: 15px;
  font-size: 65px;
}

.icon-logo {

  background: url('/sitestatic/brands/spiddbrand/spiddlogo.png') no-repeat 0px 0px !important;

}
