a.logo {
  color: #1ebc61;
  font-size: 196px;
  margin-top: -2px;
  text-decoration: none;
  .name {
    display: none;
  }
}

.logo {
  position: absolute;
  left: 0;
  top: 40px;
  z-index: 100;
  padding-left: 30px;
  padding-top: 20px;
}
