#splash {
  margin-top: -30px;
  background: url('/sitestatic/brands/spiddbrand/splashspidd.jpg') 0px 0px !important;
  background-size: cover !important;
  width: 100%;
  height: 0px;
  padding-bottom: 40%;
}


#header {
  background-color: #ffffff;
  padding-top: 32px;
  padding-bottom: 20px;
  color: blue;
  margin-bottom: 30px;
  border: 0px solid pink;
   z-index: 0;
  position: relative;
  height: 80px;
}
#top-menu li .title {
    border: 0 solid green;
    color: #1ebc61;
    font-family: "Helvetica Neue",sans-serif;
    font-size: 12px;
    height: 10px;
    margin-top: 5px;
    text-align: center;
    width: 60px;
}

#top-menu li a {
    color: #1ebc61;
    text-decoration: none;
    text-transform: lowercase;
    display: inline-block;
    border: 0px solid black;
    height: 50px;
    width: 60px;
    text-align: center;
}

#top-menu {
    position: absolute;
    width: 600px;
    z-index: 1025;
    height: 60px;
    top: 88px;
    text-align: right;
    right: 20px;
    padding-right: 37px;
}



#splash h1.description {
    padding-top: 15px;
    position: relative;
}
#splash h1.description {
    color: #f3f3f3;
    font-size: 38px;
    font-weight: 100;
    line-height: 110%;
    padding-left: 50px;
    padding-top: 50px;
    position: absolute;
    text-shadow: 1px 1px 8px #111;
    width: 550px;
}
#top-menu li .submenu-container .submenu a .title {
    border: 0 solid green;
    color: #0c6596;
    margin: 8px 0 0;
    padding: 0;
    width: 50px;
}