/*
  Icon Font: spiddfont
*/

@font-face {
  font-family: "spiddfont";
  src: url("./spiddfont_aaf149bc75514d0ed12b26a02734c853.eot");
  src: url("./spiddfont_aaf149bc75514d0ed12b26a02734c853.eot?#iefix") format("embedded-opentype"),
       url("./spiddfont_aaf149bc75514d0ed12b26a02734c853.woff2") format("woff2"),
       url("./spiddfont_aaf149bc75514d0ed12b26a02734c853.woff") format("woff"),
       url("./spiddfont_aaf149bc75514d0ed12b26a02734c853.ttf") format("truetype"),
       url("./spiddfont_aaf149bc75514d0ed12b26a02734c853.svg#spiddfont") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "spiddfont";
    src: url("./spiddfont_aaf149bc75514d0ed12b26a02734c853.svg#spiddfont") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-logo:before {
  display: inline-block;
  font-family: "spiddfont";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-logo:before { content: "\f106"; }
