{% extends "frame.html" %}
{% load smartmin compress temba i18n %}
-block page-top

-block extra-less
  -compress css
    {% lessblock %}
      :plain
        #lead-form {
          display: block;
          text-align: center;
          background-color: #0c0096;
          padding-top: 15px;
          input[type=text] {
            margin-bottom: 0;
            height: 27px;
          }
        }

        .text-error {
          text-shadow: 0px 0px 12px #fff;
          letter-spacing:1px;
          color: @flat-red;
          width: 350px;
          padding-left:5px;
          margin-top: -5px;
          font-weight:500;
        }

        #pageBody {
          min-width:1000px;
        }

        #splash {
          h1.description {
            padding-top: 15px;
            position: relative;
          }
        }

    {% endlessblock %}

-block post-header
    .row
      #splash
        %h1.description
          {{ brand.description }}

    .row
      #lead-form
        %form{action:'{% ssl_brand_url "public.lead_create" %}', method:'POST'}
          -csrf_token

          %fieldset
            .control-group
              .controls
                %nobr
                  %input.controls{'type':"text", 'name':"email", 'placeholder':"Enter your email.."}
                  %button.btn.btn-success{type:"submit"}
                    -trans "Create Account"
        -if errors
          %p.text-error {{error_msg}}

    -if not thanks
      %br.clearfix{clear:"both"}
